/* Define local typefaces */
@font-face {
    font-family: "LINESeedSansTH";
    src: local("Fonts/LINESeedSansTH_XBd.woff") format('woff');
    font-weight: 700;
}  
@font-face {
    font-family: "LINESeedSansTH";
    src: local("Fonts/LINESeedSansTH_Rg.woff") format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "LINESeedSansTH";
    src: local("Fonts/LINESeedSansTH_He.woff") format('woff');
    font-weight: 900;
}
@font-face {
    font-family: "LINESeedSansTH";
    src: local("Fonts/LINESeedSansTH_Bd.woff") format('woff');
    font-weight: bold;
}
.svg {
    width: 80px;
    height: 80px;
}
center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
h2 {
    font-family: 'Rubik', 'LINESeedSansTH';
    font-weight: 900;
    font-size: 52px;
    color: rgb(255, 214, 11);
    margin: 0;
    text-shadow: 0px 5px 10px #0000008a;
    left: 50%;
    margin-right: 1.75rem;
    line-height: 6rem;
}
h3 {
    font-family: 'Rubik', 'LINESeedSansTH';
    font-weight: 900;
    font-size: 42px;
    color: #00f195;
    margin: 0;
    text-shadow: 0px 5px 10px #0000008a;
    left: 50%;
    margin-right: 1.75rem;
    line-height: 6rem;
}
p {
    color: whitesmoke;
    font-family: 'Rubik', 'LINESeedSansTH';
    font-weight: normal;
    font-size: 22px;
    text-shadow: 0px 0px 10px #0000008d;
    margin: 4rem;
    margin-top: 2rem;
    line-height: 2rem;
}
.emphasize {
    font-weight: 700;
    font-size: 3rem;
    line-height: 6rem;
}
body {
    margin: 0;
    background-image: rgba(255, 255, 255, 0.486);
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-color: black;
}
.button {
    width: auto;
	border-radius: 15px;
    border: 1.5px solid;
	cursor: pointer;
	color: whitesmoke;
	font-family: 'Rubik', 'LINESeedSansTH';
	font-size: 20px;
    font-weight: normal;
	padding: 15px 25px;
	text-decoration: none;
    text-shadow: 0px 5px 10px #3100688a;
}
.button:hover {
    font-weight: bold;
    border-radius: 50px;
    border: 2.5px solid;
    font-family: 'Rubik','LINESeedSansTH';
    transition: border-radius 1.2s cubic-bezier(0,.44,.37,.99);
}
.button:active {
	position: relative;
	top: 1.5px;
}

.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    margin: 2rem;
}

.carousel {
    /* vw = viewport width
        vh = viewport height */
    width: 100vw;
    height: calc(100vh - 145px);
    position: relative;
    /* for Sky Block */
    margin-bottom: 4rem;
}
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: -20;
}
.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    top: 50%;
    font-size: 5rem;
    transform: translateY(-50%);
    color: rgba(255,255,255,0.5);
    background-color: none;
    padding: 3rem;
    border-radius: 25px;
}
/* .carousel-button.prev {
    left: 2rem;
}
.carousel-button.next {
    right: 2rem;
} */

/* ————————————————————————————————————————————————————————————— */

.bg {
    background-color: black;
}
.icon {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 550px;
    height: auto;
}
.card {
    margin-top: 35px;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
    width: 600px;
    height: auto;
    padding: 24px;          
    display: inline-block;
}
.bullet {
    list-style: none;
    z-index: 4;
}
.infront {
    z-index: 10;
}

/* ============================================================================================== */

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-track-piece {
    width: 0;
    opacity: 0;
    display: none;
}

*::-ms-track, ::-ms-thumb {
    width: 0;
    opacity: 0;
    display: none;
}

*::-webkit-scrollbar-track {
    background: transparent;
    opacity: 0;
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
    opacity: 0;
    display: none;
}

* {
    -ms-overflow-style: none;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    width: 660px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 0;
    margin: 0;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    }

    .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
    animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    top: 128px;
    left: 22%;
    /* transform: translateY();
    transform: translateX(); */
    text-align: center;
    padding: 0;
    margin: 0;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background-color: #00e1ff;
    opacity: 0.3;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
    transform: translateY(-50%);
    margin: 6px;
}

.carousel__navigation-button:hover {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background-color: #00e1ff;
    opacity: 1;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
    transform: translateY(-50%);
    margin: 6px;
    transition: opacity 0.1s ease-in-out;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    /* ตำแหน่งความสูงของ carousel__prev carousel__next */
    margin-top: 66%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 0;
    outline: 0;
    cursor: pointer;
}

.carousel::before,
.carousel__prev {
    left: -0.5rem;
}

.carousel::after,
.carousel__next {
    left: 35.8rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmlld0JveD0iMTA4Ljg1IDYwLjU3IDY0LjI3IDEwOS4xMyI+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyODgiIGhlaWdodD0iMjg4IiB2aWV3Qm94PSIwIDAgNzAwIDcwMCI+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJtMjcyLjExIDI2Mi42NCAxMDguNzMtMTA4LjVjNC4zODI4LTQuNDE4IDEwLjM0OC02LjkwMjMgMTYuNTY2LTYuOTAyMyA2LjIyMjcgMCAxMi4xODggMi40ODQ0IDE2LjU2NiA2LjkwMjMgOS4wNDY5IDkuMDk3NyA5LjA0NjkgMjMuNzk3IDAgMzIuODk4bC05Mi4xNjQgOTMuMzMyIDkyLjE2NCA5Mi4xNjhjOS4wNDY5IDkuMTAxNiA5LjA0NjkgMjMuODAxIDAgMzIuODk4LTQuMzYzMyA0LjQ1MzEtMTAuMzI4IDYuOTc2Ni0xNi41NjYgNy02LjIzNDQtMC4wMjM0MzgtMTIuMTk5LTIuNTQ2OS0xNi41NjYtN2wtMTA4LjczLTEwOC41Yy00Ljc4OTEtNC40MTQxLTcuNTExNy0xMC42MzMtNy41MTE3LTE3LjE0OHMyLjcyMjctMTIuNzM0IDcuNTExNy0xNy4xNDh6IiBjbGFzcz0iY29sb3IwMDAgc3ZnU2hhcGUiLz48L3N2Zz48L3N2Zz4=");
}

.carousel::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmlld0JveD0iMTE0LjkgNjAuNTcgNjQuMjcgMTA5LjEzIj48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI4OCIgaGVpZ2h0PSIyODgiIHZpZXdCb3g9IjAgMCA3MDAgNzAwIj48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Im00MjcuOTUgMjYyLjY0LTEwOC43My0xMDguNWMtNC4zODI4LTQuNDE4LTEwLjM0NC02LjkwMjMtMTYuNTY2LTYuOTAyM3MtMTIuMTg4IDIuNDg0NC0xNi41NjYgNi45MDIzYy05LjA0NjkgOS4wOTc3LTkuMDQ2OSAyMy43OTcgMCAzMi44OThsOTIuMTY0IDkzLjMzMi05Mi4xNjQgOTIuMTY4Yy05LjA0NjkgOS4xMDE2LTkuMDQ2OSAyMy44MDEgMCAzMi44OTggNC4zNjMzIDQuNDUzMSAxMC4zMzIgNi45NzY2IDE2LjU2NiA3IDYuMjM0NC0wLjAyMzQzOCAxMi4xOTktMi41NDY5IDE2LjU2Ni03bDEwOC43My0xMDguNWM0Ljc4NTItNC40MTQxIDcuNTExNy0xMC42MzMgNy41MTE3LTE3LjE0OHMtMi43MjY2LTEyLjczNC03LjUxMTctMTcuMTQ4eiIgY2xhc3M9ImNvbG9yMDAwIHN2Z1NoYXBlIi8+PC9zdmc+PC9zdmc+");
}

/* Own style */
.banner {
    background-image: linear-gradient(135deg, rgba(131, 56, 236, 1) 0%, rgba(255, 0, 110, 1) 100%);
    padding: 15px;
    padding-bottom: 2px;
    border-radius: 0px 0px 20px 20px;
    text-shadow: 0px 2px 10px #3100688a;
    position: sticky;
    width: auto;
    height: fit-content;
    top: 0;
    z-index: 3;
}

.banner h1 {
    font-family: 'Rubik', 'LINESeedSansTH', sans-serif;
    font-size: 2.5em;
    color: whitesmoke;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 900;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #00e1ff;
    text-align: center;
    margin-bottom: 2px;
    text-transform: uppercase;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.87);
}
.icon {
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 24px 4px rgba(0,0,0,0.49); 
    box-shadow: 0px 10px 24px 4px rgba(0,0,0,0.4);
    margin-top: 9%;
}
.genre {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #00e1ff;
    text-align: center;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.87);
}
.detail {
    overflow-y: auto;
    font-family: 'Rubik', 'LINESeedSansTH', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #c6f1f6;
    text-align: justify;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.87);
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

@media only screen and (max-width: 768px) {
    .banner h1 {
        font-size: 28px;
    }
    .emphasize {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 4rem;
    }
    p {
        font-size: 19px;
    }
    .carousel {
        width: 100%;
        height: calc(100vh - 145px);
    }
    .carousel::before, .carousel__prev {
        right: 0;
        margin-left: 3rem;
    }
    .carousel::after, .carousel__next {
        left: auto !important;
        right: 0 !important;
        margin-right: 3rem;
    }
    .carousel::before, .carousel::after,
    .carousel__prev, .carousel__next {
        margin-top: 300px;
    }
    .carousel__navigation {
        margin: 0;
        left: 10%;
        right: 10%;
    }
    .card {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon {
        width: 105%;
        display: flex;
        margin-top: 3.2rem;
    }
    .detail {
        font-size: 18px;
        height: auto;
        margin-left: 6rem;
        margin-right: 6rem;
    }
    .button {
        width: auto;
        border-radius: 50px;
        cursor: pointer;
        color:whitesmoke;
        font-family: 'Rubik';
        font-size: 16px;
        padding: 5px 20px;
        text-decoration: none;
        text-shadow: 0px 2px 10px #3100688a;
    }
}